extends layout

block content
    h1.
        Stuff in the Box
    ul
            li
                a(href="magicboxadd")= "Click here to add something..."
            li
                a(href="magicboxreplace")= "Click here to replace or remove something..."
            li
                a(href="boxcontents")= "Click here to see what's inside..."
